* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

.nav {
    background-color: black;
    height: 12vh;
    transition: 1s;
    margin-top: 0vh;

}

.nav:hover {
    transform: scale(1.2);
}

.nav ul {

    text-align: center;
}

.nav ul li {
    display: inline;
    /* color: white; */

}

.nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 6vmin;
    margin: 20px;
}

.site_name {
    font-size: 8vmin;
    margin-bottom: 4vh;
    margin-top: 4vh;
    margin-left: 4vw;
    /* border: 2px solid red; */
    width: 20vw;

    transition: 1s;

}

.site_name a {
    text-decoration: none;
    color: rgb(214, 204, 117);

}

.site_name:hover {
    transform: scale(1.2);

}


.featured_album img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 10vh;
}

img.img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}

.img1 {
    transition: 1s;
}

.img1:hover {
    transform: scale(1.3);
}

.featured_album h2 {
    text-align: center;
    font-size: 5vmin;
    margin-bottom: 5vh;
}

/* .featured_album audio{
    display: block;
    margin-left: auto;
    margin-right: auto;
} */
audio.audio1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.featured_album a {
    font-size: 3vmin;
    text-decoration: none;
    border-radius: 5px;
    width: 12vw;
    height: 5vh;
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 4vh;
    display: inline-block;
}

a.btn1 {
    display: table-cell;
    vertical-align: middle;

}

.songs {
    display: inline-block;
    /* border: 2px solid red; */
    width: 20vw;
    /* height: 50vh; */
    margin-top: 10vh;
    margin-left: 4vw;
    /* margin-bottom: 10vh; */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 1s;
}

.songs:hover {
    transform: scale(1.1);
    background-color: rgb(230, 235, 182);


}

.songs img {
    width: 20vw;
    height: 30vh;
}

.songs song_name {
    font-size: 4vmin;
    font-weight: bold;
    /* border: 2px solid red; */
    display: inline-block;
    margin-bottom: 4vh;
    margin-top: 4vh;
}

.songs song_info {
    font-weight: bold;
}

.songs audio {
    margin-top: 4vh;
    width: 100%;

}

.songs a {
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 3vmin;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 4vh;

}

.btn2 {
    width: 12vw;
    height: 5vh;
    margin-top: 4vh;
    display: inline-block;
}

a.btn2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 1vh;
}

footer {
    width: 100vw;
    height: 8vh;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 4vmin;
    /* position: fixed;
    bottom: 0vh; */
    padding-top: 2vh;

}



@media screen and (max-width:700px) {
    body {
        /* background-color: red; */
    }

    .nav {
        height: 35vh;
        /* padding: 5%; */
        width: 100vw;
        
    }

    .nav:hover {
        transform: none;
    }

    .nav ul li {
        display: block;
        
        
        
    }
   
    .nav ul li a {
        font-size: 8vmin;
        
    }
   .site_name{
    font-size: 18vmin;
   }
    .site_name:hover {
        transform: none;
    }

    .img1:hover {
        transform: none;
    }

    .songs {
        display: block;
        width: 85vw;
        position: relative;
        left: 4vw;

    }

    .songs:hover {
        transform: none;
        background-color: white;
    }

    .songs img {
        width: 85vw;
        height: 40vh;
    }

    .songs a {
        width: 25vw;
        font-size: 5vmin;
        display: inline-block;
        margin-left: 30vw;

    }

    .songs song_info {
        font-size: 5vmin;
    }

    .songs song_name {
        font-size: 10vmin;
    }

    .featured_album h2 {
        font-size: 10vmin;
    }

    .featured_album img {
        width: 500px;
        height: 500px;
        border-radius: 50%;
    }

    .featured_album a {
        font-size: 5.5vmin;
        width: 25vw;
    }

    .songs audio {
        width: 100%;
    }
    footer{
        height: 20vh;
        padding-top: 6vh;
        margin-top: 8vh;
    }
    .footer1{
        font-size: 10vmin;
        
    }
}